* {
    font-family: 'Roboto', sans-serif;
}

nav {
    display:flex;
    background-color: #31343D;
    padding: 20px;
    justify-content: space-between;
    justify-content: flex-end;
}

h1 {
   position: relative;
   right: 700px;
    background-color: #92CACE;
    color: #31343D;
    font-size: 40px;
    padding: 5px 5px 5px 50px;
    font-weight: 500px;
}

nav a {
    margin: 10px;
    color: #92CACE;
    text-decoration: none;
    font-weight: 300px;
    font-size: large;
       padding: 5px;
    color:#92CACE;
    background-image: linear-gradient( #92CACE 0%, #92CACE 100%);
    background-clip: padding-box;
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
     background-position-x: center;
        background-position-y: bottom;
    transition: all 0.25s ease-in;
}



.nav-links:hover {
background-size: 100% 100%;
color:#31343D;
}